/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Sans-Serif;
    color: white;
}
body {
    padding: 2vw 4vw 0 4vw;
    background-color: #191a1c;
}
h1 {
    color: #c9355f;
    margin-bottom: 10px;
}
h2 {
    color: #ffe266;
    margin-bottom: 3px;
}
h3 {
    color: #95a5ae;
    margin-bottom: 3px;
}
.font-larger b {
    font-size: 105%;
    line-height: 150%;
}
p {
    font-size: 105%;
    line-height: 150%;
}
b {
    color: #55c2f9;
}
b:hover {
    color: #c9355f;
    transition: 0.3s;
}
img {
    width: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
}
.margin-top {
    margin-top: 17px;
}
/* FLEXBOX CONTAINERS */
.container-row {
    display: flex;
    flex-direction: row;
    column-gap: 4vw;
}
.container-col {
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
}
.container-page {
    row-gap: 3vw;
}
/* NAVBAR */
.navbar {
    padding: 0 0 2vw 0;
    justify-content: center;
}
.navbar b {
    margin: 0 1vw;
}
/* TABLE */
table,
th,
td {
    border: 1px solid #3a3c40;
    border-collapse: collapse;
}
th,
td {
    padding: 7px;
}
.table-header th {
    background-color: #141516;
    color: #c9355f;
    text-align: center;
}
td:nth-child(1),
td:nth-child(2) {
    font-weight: bold;
    color: #95a5ae;
}
.table-last td:nth-child(4) {
    color: #95a5ae;
    font-weight: bold;
}
.table-last-yellow td:nth-child(4) {
    color: #ffe266;
    font-weight: bold;
}
/* COLUMNS AND SIZING */
.col-20 {
    width: 20%;
}
.col-30 {
    width: 30%;
}
.col-50 {
    width: 50%;
}
.col-70 {
    width: 70%;
}
.col-80 {
    width: 80%;
}
.col-100 {
    width: 100%;
}
